<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Backpack.SqlBuilder" version="1.1.2.32" targetFramework="net45" />
  <package id="CruiseDAL" version="3.0.0.4" targetFramework="net45" />
  <package id="FMSC.ORM" version="2.4.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net45" />
</packages>