namespace CruiseDesign
{
    public static partial class Secrets
    {
        static Secrets()
        {
            CRUISEDESIGN_APPCENTER_KEY_WINDOWS = "$(cruisedesign_appcenterr_key_windows)";
        }
    }
}